# ~/.envrc in ~/workspace
username="highmanphil"
current=$(gh auth status -h github.com 2>/dev/null | grep "Logged in to github.com as" | awk '{print $7}')

if [ "$current" != "$username" ]; then
  gh auth switch --hostname github.com --user "$username" >/dev/null
fi
